{{pattern name="spacer"}}
<div class="project__container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {{pattern name="heading" data="heading-work-project-two"}}
        </div>
    </div>

    {{pattern name="spacer"}}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 ">
            {{pattern name="paragraph" data="paragraph-work-project-two"}}
        </div>
    </div>
    {{pattern name="spacer"}}
    <a class="projectlink" href="https://semharsium.github.io/project-lisa/">project link</a>
    {{pattern name="spacer"}}
    <div class="tasks__container">
        {{pattern name="heading" data="heading-work-project-two-sub-heading"}}
        {{pattern name="spacer"}}
    </div>
    {{pattern name="list-items" data="list-items-project-one"}}

    {{pattern name="spacer" modifier="medium"}}
</div>