{{pattern name="spacer"}}
<div class="project__container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {{pattern name="heading" data="heading-work-project-three"}}
        </div>
    </div>
   
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 ">
            {{pattern name="paragraph" data="paragraph-work-project-three"}}
        </div>
    </div>
    {{pattern name="spacer"}}
    <div class="tasks__container">
        {{pattern name="heading" data="heading-work-project-three-sub-heading"}}
        {{pattern name="spacer"}}
    </div>
    {{pattern name="list-items" data="list-items-project-three"}}
    {{pattern name="spacer"}}
    <a class="projectlink" href="https://semharsium.github.io/project-keyframes/">project link</a>
    
</div>
{{pattern name="spacer" modifier="large"}}