<div class="row">
	<div class="col">
		<div class="slider-image__container">
			{{#pattern name="slider"}}
				{{pattern name='image' data='image-slider-one'}}
				{{pattern name='image' data='image-slider-two'}}
				{{pattern name='image' data='image-slider-three'}}
				{{pattern name='image' data='image-slider-four'}}
				{{pattern name='image' data='image-slider-five'}}
			{{/pattern}}
		</div>
	</div>

</div>
{{pattern name="spacer"}}

<div class="row">
	<div class="col-md-4 offset-md-4">
		{{pattern name="heading" data="heading-index"}}
	</div>
</div>

{{pattern name="spacer"}}

<div class="row">
	<div class="col-12 col-lg-6 offset-lg-3  ">
		{{pattern name="paragraph" data="paragraph-index"}}
	</div>
</div>

{{pattern name="spacer" modifier="large"}}

<div class="row">
	<div class="col-12 col-md-6 offset-md-3">
		{{pattern name="heading" data="heading-skills"}}
		{{pattern name="spacer"}}
		{{pattern name="list-items" data="list-items-home"}}
	</div>
	{{pattern name="spacer" modifier="large"}}
</div>
{{pattern name="spacer" modifier="large"}}